.footer-container {
    background-color: #434343;
    width: 100%;
    margin: 0;
    padding: 0;
}

.element1, .element2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 80px;
}


.element1 p {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-right: 140px;
}

.input-box {
    width: 348px;
    height: 52.6px;
    border-radius: 28px;
    border-style: none;
    position: relative;
}

.input-box::placeholder {
    text-indent: 20px; 
}

.input-btn {
    border-radius: 28px;
    border-style: none;
    background-color: #F39B4E;
    position: absolute;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 17px;
    margin-right: 10px;
    font-weight: 700;
    color: #ffffff;
    height: 4%;
}

.element3 {
    /* width: 668px;
    height: 34.72px; */
    padding-left: 60px;
    margin-top: -50px;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.contact {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-left: 60px;
    color: #ffffff;
}

.address {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    padding-left: 60px;
    color: #F39B4E;
    margin-top: -10px;
}

.office-email {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    padding-left: 60px;
    margin-top: -4px;
}

.office-email span {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #F39B4E;
}

.element4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: -60px;
}

.icons {
    display: flex;
    align-items: center; 
}

.icons a {
    text-decoration: none;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    width: 30px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none; 
    border: 2px solid #F39B4E;
}

.icons i {
    color: #ffffff;
    font-weight: 800;
}

.element5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 90px;
}

.element5 p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
}


@media (max-width:640px) {
    .footer-container{
        width: 100%;
    }
    .element1, .element2, .element3, .element4, .element5 {
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: left;
        align-items: flex-start;
    }

    .contact, .address, .office-email {
        margin: 5px 5px;
        padding: 0;
    }

    .input-btn{
        translate: 240px;
    }
}