body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5%;
}

.menu {
    display: none;
    font-size: 30px;
    font-weight: 600;
    padding: 5px 12px;
    cursor: pointer;
}

.Nav-Logo {
    width: 194px;
    height: 90px;
    background-image: url('/assets/images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Nav-Link {
    padding-right: 10%;
}

.primary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.primary a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
    padding: 10px 15px;
}

.secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 791px;
}

.secondary a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434343;
}

.btn {
    background-color: #d90a0a;
    border-radius: 25px;
    padding: 0px 15px;
    cursor: pointer;
}

.btn span {
    color: white;
    text-align: center;
}

.links {
    flex: 0 0 auto;
    height: 33px;
}


@media (max-width:640px) {
    .Navbar {
        flex-direction: column;
        width: 100%;
    }

    .Nav-Logo {
        margin: 0;
        padding: 0;
        background-position: left;
        margin-bottom: 2%;
    }

    .primary,
    .secondary {
        flex-direction: column;
        align-items: start;
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .primary a {
        margin-top: 10px;
        padding: 0;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0.02em;
    }

    .secondary {
        margin-left: 2%;
    }

    .menu {
        display: block;
    }

    .Nav-Logo,
    .Nav-Link {
        display: none;
    }

    .Nav-Logo.show,
    .Nav-Link.show {
        display: block;
    }

}